@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Lora;
    src: url(../fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: Raleway-bold;
    src: url(../fonts/Raleway/static/Raleway-ExtraBold.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid white; */
}

a {
    text-decoration: none;
}

.up-case {
    text-transform: uppercase;
}

.m-auto {
    margin: 0 auto;
}

.background {
    width: 100%;
    /* height: 120vh; */
    background-image: url(../image/Bg\ image-modified.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    opacity: 0.85;
}

.text-main {
    padding: 100px 0;
}

.container {
    width: 100%;
}

nav {
    padding-top: 20px;
}

.row {
    width: 100%;
    background-color: black;
}

.logo {
    /* margin: 0px auto; */
}

.col {
    width: 1280px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.img img {
    width: 30px;
    height: auto;
    margin-top: 5px;
}

.text {
    color: white;
    display: block;
    font-family: Raleway;
    font-size: 15px;
}

.text :nth-child(2) {
    color: white;
    display: block;
    font-family: Raleway;
    font-size: 8px;

}

.r-widght {
    margin-left: auto;
}

.r-widght ul {
    display: flex;
    list-style: none;
}

.r-widght ul li a {
    color: #00c0ff;
    padding: 10px 30px;
    font-family: Raleway;
}

.r-widght ul li a:hover {
    font-weight: 900;
}

.sport {
    width: 100%;
    margin-top: 80px;
}

.sport h3 {
    text-align: center;
    font-size: 175px;
    color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-fill-color: transparent;
    font-family: Raleway-bold;
    font-weight: 900;
}

.small-text {
    width: 700px;
    margin: 0px auto;
    text-align: center;
    font-family: Raleway;
    font-size: 15px;
    color: #ffffff;
}

.small-text p {
    margin: 50px 0px;
}


.button {
    width: 700px;
    padding: 50px 0px;
}

.button a {
    padding: 10px 45px 10px 45px;
    background-color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
    font-family: Roboto;
    color: #00c0ff;
    font-weight: 700;
}

.button a:hover {
    /* transform: none; */
    transition: all 0.s ease-in-out;
    background-color: #1db8e7;
    color: #ffffff;
    box-shadow: 2px 2px 5px black;
}

.sec2 {
    width: 100%;
    background-color: black;
}


.detalis {
    width: 700px;
    display: block;
    text-align: center;
    line-height: 30px;
    color: #00c0ff;
    font-family: Raleway;
    padding: 50px 0px;
}

.detalis h3 {
    font-size: 21px;
    font-weight: 800;
}

.detalis p {
    font-size: 12px;
}

.sec3 {
    /* height: 40vh; */
    background-color: rgb(40, 39, 39);
    display: flex;
}

.we-about {
    width: 350px;
    margin: 30px;
    color: #ffffff;
    font-family: Raleway;
}

.we-about h3 {
    font-size: 19px;
    line-height: 33px;
    font-weight: 700;
}

.we-about span {
    display: inline-block;
    font-size: 17px;
    line-height: 25px;
    font-weight: 400;
    margin-top: 20px;
}

/* .sec4 */
.sec4 {
    width: 100%;
    background-image: url(../image/Bg\ image2-modified.png);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
}

.prio-first {
    width: 1000px;
    text-align: center;
    margin-top: 50px;
    color: #00c0ff;
}

.prio-first h3 {
    font-size: 29px;
    font-weight: 700;
    font-family: Roboto;
}

.prio-first p {
    font-size: 15px;
    line-height: 33px;
    font-weight: 500;
    font-family: Raleway;
}

.card {
    width: 25%;
    background-color: rgba(10, 10, 10, 0.622);
    box-shadow: 20px 20px 10px rgb(0, 0, 0, 0);
    text-align: center;
    margin: 30px 50px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    background-color: rgba(10, 10, 10, 0.73);
    transform: scale(1.03);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.551);
}

.card h3 {
    font-size: 17px;
    font-weight: 700;
    font-family: Roboto;
    margin: 30px 0px;
}

.card p {
    width: 200px;
    margin: 70px auto;
}

.ca-det {
    font-size: 14px;
    font-weight: 200;
    font-family: Lora;
}

.ac-man {
    margin: 50px 0px;
}

.ac-man h5 {
    font-size: 15px;
    font-weight: 700;
    font-family: Roboto;

}

.ac-man span {
    font-size: 14px;
    font-weight: 200;
    font-family: Lora;
}

/* section5 */
.sec5 {
    width: 100%;
    background-color: black;
}

.do-v-do {
    width: 550px;
    color: #00c0ff;
    text-align: center;
}

.do-v-do h3 {
    font-size: 29px;
    font-weight: 500;
    font-family: Raleway;
    margin-top: 50px;
}

.do-v-do p {
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    font-family: Raleway;
    margin-top: 20px;

}

.line {
    margin-top: 60px;
}

.line span {
    display: inline-block;
    font-size: 17px;
    color: #00c0ff;
    font-weight: 500;
    font-family: Raleway;
    text-transform: capitalize;
    padding: 0px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.line span:hover {
    font-style: 18px;
    font-weight: 700;
}

.col-3 {
    width: 250px;
    margin: 50px;
    text-align: center;
    color: #f6f6f6;
    font-family: Raleway;
}

.col-3 img {
    background-color: #00c0ff;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.col-3 img:hover {
    box-shadow: 5px 5px 5px #1db8e76e;
    transform: scale(1.1);
}

.sp-img {
    width: 64px;
}

.col-3 h4 {
    font-size: 25px;
    font-weight: 700;
}

.col-3 p {
    width: 150px;
    margin: 70px auto;
}

.sp-det {
    font-size: 14px;
    font-weight: 200;
}

.ac-man2 {
    font-size: 15px;
}

.ac-man2 h5 {
    font-weight: 700;
}

.ac-man2 span {
    font-weight: 400;
}

.sec6 {
    /* height: 40vh; */
    background-color: rgb(40, 39, 39);
    text-align: center;
    color: #00c0ff;
    display: flex;

}

.quote {
    width: 880px;
    margin: 60px 0px;
    font-family: Raleway;
    line-height: 33px;
}

.quote p {
    font-size: 21px;
    font-weight: 600;
}

.quote h6 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
}

.sec7 {
    width: 100%;
    background-color: black;
    /* height: 95vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.col-50 {
    width: 50%;
    color: #00c0ff;
}

.col-50 img {
    width: 100%;
}

.nature {
    width: 500px;
    font-family: Raleway;

}

.nature h3 {
    font-size: 37px;
    font-weight: 500;
    margin-bottom: 30px;
}

.nature p {
    font-size: 19px;
    line-height: 33px;
    font-weight: 400;
}

.sec8 {
    background-image: url(../image/Place\ Your\ Design\ Her\ \(1\)-modified.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.by-yr-tic {
    text-align: end;
    width: 300px;
    padding: 100px 0;
    color: #fefefe;
    font-family: Roboto;
    text-align: right;
    margin: 100px 0 100px auto;
}

.by-yr-tic h3 {
    font-size: 58px;
    line-height: 50px;
    font-weight: 700;

}

.by-yr-tic p {
    font-size: 15px;
    font-weight: 400;
}

.here {
    margin-top: 30px;

}

.here a {
    font-size: 21px;
    color: #00c0ff;
    font-weight: 400;
    text-align: center;
    padding: 8px 45px;
    border: 1px solid #00c0ff;
    border-radius: 23px;
    background-color: #ffffff;
}

.here a:hover {
    background-color: rgb(75, 165, 229);
    color: black;
    font-weight: 800;
    box-shadow: 2px 2px 8px black;
}

.sec9 {
    background-color: black;
    text-align: center;
}

.zig-zack {
    width: 50%;
    margin: 60px 0px;
    font-family: Raleway;
}

.side-img {
    width: 50%;
}

.side-img img {
    width: 130px;
    background-color: #00c0ff;
}

.pro-20 {
    display: block;
    font-size: 17px;
    font-weight: 400;
    margin: 12px 0px;
}

.some-new {
    font-size: 21px;
    font-weight: 500;
}

.lorem {
    display: inline-block;
    width: 410px;
    font-size: 16px;
    font-weight: 400;
    margin: 30px 0px;
}

.sec10 {
    /* height: 30vh; */
    background-color: rgb(40, 39, 39);
    display: flex;
    flex-wrap: wrap;
}

.col-33 {
    width: 33%;
    font-family: Raleway;
    color: #ffffff;
    text-align: center;
    margin: 60px 0px;
}

.col-33 p {
    font-size: 21px;
    font-weight: 500;
}

.col-33 span {
    display: block;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 33px;
    font-weight: 500;
}

.sec11 {
    background-color: black;
    text-align: center;
    color: #00c0ff;
    display: flex;
}

footer {
    background-color: rgb(40, 39, 39);

}

.col-4 {
    width: 1280px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.about {
    width: 350px;
    color: #ffffff;
    font-family: Roboto;
    margin: 50px 0px;
}

.about h5 {
    font-size: 25px;
    line-height: 33px;
    font-weight: 700;
}

.about p {
    font-size: 19px;
    line-height: 29px;
    font-weight: 400;
    margin: 10px 0px;
}

.social-icon a i {
    color: #ffffff;
    font-size: 1.8em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 0px 3px;
    filter: brightness(0.85);

}

.social-icon i:hover {
    color: lavenderblush;
    transform: scale(1.3);
    filter: brightness(1.5);
}

.left-list {
    margin: 50px 0px;
}

.left-list ul li {
    list-style: none;

}

.left-list ul li a {
    color: #ffffff;
    font-family: Roboto;
    font-size: 21px;
    line-height: 33px;
    font-weight: 400;
    transition: all 0.5s;
}

.left-list ul li a:hover {
    color: #00c0ff;
    font-size: 23px;
}

.left-list ul li h5 {
    font-weight: 700;
    margin: 8px 0px;
}


@media(max-width:576px) {
    .col {
        width: 100%;
    }

    .background {
        width: 100%;
        background-size: 100% 100%;
        object-fit: contain;
        opacity: 0.85;
    }

    .container {
        width: 100%;
    }

    .col {
        width: 100%;
        margin: 0px auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .r-widght ul li a {
        padding: 10px 13px;
    }

    .img img {
        width: 100%;
        height: auto;
        margin-top: 5px;
    }

    .sport {
        width: 100%;
    }

    .sport h3 {
        text-align: center;
        font-size: 80px;
        font-weight: 900;
    }

    .small-text {
        width: 100%;
        margin: 0px auto;
        text-align: center;
        font-size: 15px;
    }

    .small-text p {
        margin: 50px 0px;
    }


    .button {
        width: 100%;
        padding: 50px 0px;
    }

    .button a {
        padding: 10px 30px 10px 30px;
    }

    .sec2 {
        width: 100%;
    }

    .sec4 {
        width: 100%;
        background-size: 100% 100%;
        object-fit: contain;
    }

    .card {
        width: 100%;
    }

    .card p {
        width: fit-content;
        margin: 70px auto;
    }

    .col-50 {
        width: 100%;
    }

    .col-50 img {
        width: 100%;
    }

    .nature {
        width: 100%;
        padding: 0px 9px;
    }

    .zig-zack{
        padding: 0px 5px;
    }
    .side-img{
        width: 90%;
        margin: 5px 0px;
    }
    .col-33 {
        width: 100%;
    }

    .sec8 {
        background-image: url(../image/Place\ Your\ Design\ Her\ \(1\)-modified.png);
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
    }

    .by-yr-tic {
        text-align: end;
        width: 100%;
        padding: 20px 5px;
        margin: 20px 0 20px auto;
    }

    .lorem {
        display: inline-block;
        width: 100%;
        font-size: 16px;

    }

    .col-4 {
        width: 100%;
        flex-wrap: wrap;
        margin: 0px auto;
        /* justify-content: flex-end; */
    }

    .about {
        padding: 0px 5px;
    }

}

@media (min-width:576px) {
    .col {
        width: 100%;
    }

    .background {
        background-size: 100% 100%;
        object-fit: contain;
    }

    .small-text {
        width: 100%;
        margin: 0px auto;  
        font-size: 15px;   
    }

    .button {
        width: 100%;
        padding: 50px 0px;
    }

    .sec2 {
        width: 100%;
    }

    .sec4 {
        /* width: 100%; */
        background-image: url(../image/Bg\ image2-modified.png.);
        background-size: cover;
    }

    .card {
        width: 50%;
        text-align: center;
        margin: 30px 10px;       
    }

    .card p {
        width: 100%;
        margin: 70px auto;
    }

    .col-50 {
        width: 50%;
    }

    .col-50 img {
        width: 100%;
    }

    .nature {
        width: 100%;

    }

    .col-33 {
        width: 100%;
    }

    .by-yr-tic {
        width: 50%;
        padding: 20px 0px;
        margin: 20px 0 20px auto;
    }

    .side-img img {
        width: 50%;
    }

    .lorem {
        display: inline-block;
        width: 100%;
        font-size: 16px;
        margin: 30px 0px;
    }

    .col-4 {
        width: 100%;
        flex-wrap: wrap;     
    }

}

@media (min-width:768px) {
    .col {
        width: 100%;
    }

    .sec2 {
        width: 100%;
    }

    .card {
        width: 25%;
    }

    .card p {
        width: 40%;
        margin: 70px auto;
    }

    .col-33 {
        width: 100%;
    }

    .col-50 {
        width: 50%;
    }

    .col-50 img {
        width: 100%;
    }

    .nature {
        width: 100%;
    }

    .col-33 {
        width: 100%;
    }

    .by-yr-tic {
        text-align: end;
        width: 50%;
        
    }

    .zig-zack {
        width: 50%;
        padding: 0px 4px;
    }

    .side-img img {
        width: 50%;
    }

    .col-4 {
        width: 100%;
        flex-wrap: wrap;
    }

}

@media (min-width:992px) {
    .col {
        width: 100%;
    }

    .sec2 {
        width: 100%;
    }

    .detalis {
        width: 50%;
    }

    .col-33 {
        width: 100%;
    }

    .by-yr-tic {
        text-align: end;
        width: 300px;
        padding: 100px 0;
        text-align: right;
        margin: 100px 0 100px auto;
    }

    .card {
        width: 25%;
    }

    .card p {
        width: 40%;
        margin: 70px auto;
    }

    .sec4 {
        width: 100%;
        background-size: cover;
    }

    .side-img img {
        width: 50%;
    }

    .col-4 {
        width: 100%;
        flex-wrap: wrap;
    }

}

@media (min-width:1200px) {
    .col {
        width: 1280px;
    }

    .small-text {
        width: 700px;
    }

    .sec2 {
        width: 100%;
    }

    .detalis {
        width: 700px;
    }

    .col-50 {
        width: 50%;
    }

    .col-50 img {
        width: 100%;
    }

    .by-yr-tic {
        text-align: end;
        width: 300px;
        padding: 100px 0;
        margin: 100px 0 100px auto;
    }

    .side-img img {
        width: 130px;
    }

    .col-33 {
        width: 33%;
    }

    .sec4 {
        width: 100%;
        background-size: cover;
    }

    .col-4 {
        width: 1280px;
        flex-wrap: wrap;
    }
}